Repository kamilsoloducha/ks_wordki: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-server.yml

Path conditions:
  azure-pipelines-client.yml: any of: client
  azure-pipelines-server.yml: any of: server

update client ci
  client/ci/docker/Dockerfile
  client/ci/docker/Dockerfile.old
  client/ci/docker/docker-compose.test.yml
Due: azure-pipelines-client.yml

dockerfile improvemtn
  client/ci/docker/Dockerfile
Due: azure-pipelines-client.yml

fix repeat count
  client/src/api/queries/repeatsCount.ts
  client/src/api/services/repeats.ts
  client/src/api/services/spec/getQuery.spec.ts
  client/src/store/lesson/reducer.ts
  client/src/store/lesson/sagas/getCards.ts
  client/src/store/lesson/sagas/getCardsCount.ts
  client/src/store/lesson/sagas/setSettings.ts
  server/src/Api.Model/Requests/GetRepeatsCount.cs
  server/src/Api/Controllers/RepeatsController.cs
  server/src/Modules/Cards/Application/Queries/GetDashboardSummary.cs
  server/src/Modules/Cards/Application/Queries/GetRepeatsCount.cs
  server/src/Modules/Cards/Application/Services/IQueryRepository.cs
  server/src/Modules/Cards/Infrastructure/Repository/QueryRepository.cs
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

quickfix
  client/src/api/queries/repeats.ts
  client/src/store/lesson/sagas/getCards.ts
Due: azure-pipelines-client.yml

fix bugs
  client/src/api/services/cards.ts
  client/src/pages/cardsSearch/components/row/Row.tsx
  client/src/pages/groups/components/groupRow/GroupRow.tsx
  client/src/store/cards/sagas/deleteCard.ts
  client/src/store/cardsSearch/saga/deleteCardEffect.ts
  client/src/store/cardsSearch/saga/spec/updateCardEffect.spec.ts
  client/src/store/cardsSearch/saga/updateCardEffect.ts
  client/src/store/lesson/sagas/spec/updateCard.spec.ts
  client/src/store/lesson/sagas/updateCard.ts
  server/src/Modules/Cards/Infrastructure/Repository/QueryRepository.cs
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

lesson improvements
  client/src/App.tsx
  client/src/common/components/loadingSpinner/LoadingSpinner.scss
  client/src/pages/cards/components/cardItem/CardItem.scss
  client/src/pages/cards/components/cardItem/CardItem.tsx
  client/src/pages/cards/components/cardItem/spec/CardItem.spec.tsx
  client/src/pages/cards/components/cardItem/spec/convertIntoExtededText.spec.ts
  client/src/pages/dashboard/DashboardPage.scss
  client/src/pages/dashboard/components/forecast/Forecast.scss
  client/src/pages/lesson/components/answer/Answer.tsx
  client/src/pages/lesson/services/compare.ts
  client/src/pages/lesson/services/getAnswerLetters.ts
  client/src/pages/lesson/services/getAnswerLettersAdvanced.ts
  client/src/pages/lesson/services/levenshteinDistance.ts
  client/src/pages/lesson/services/spec/compare.spec.ts
  client/src/pages/lesson/services/spec/getAnswerLetters.spec.ts
  client/src/pages/lesson/services/spec/getAnswerLettersAdvanced.spec.ts
  server/src/Api.Model/Requests/AddCardFromExtension.cs
  server/src/Api/Controllers/CardsController.cs
  server/src/Modules/Users/Application/Commands/LoginChromeExtension.cs
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

Update azure-pipelines-server.yml for Azure Pipelines
  azure-pipelines-server.yml
Due: none

Update azure-pipelines-client.yml for Azure Pipelines
  azure-pipelines-client.yml
Due: none

dotnet update, ef core update
  server/ci/docker/Dockerfile
  server/database/cards-views.sql
  server/database/combine.sh
  server/rest/cards.rest
  server/rest/group.rest
  server/rest/temp.rest
  server/src/Api.Model/Api.Model.csproj
  server/src/Api/Api.csproj
  server/src/Blueprints/Application/Application.csproj
  server/src/Blueprints/Domain/Domain.csproj
  server/src/Blueprints/Infrastructure/Infrastructure.csproj
  server/src/Modules/Cards/Application/Cards.Application.csproj
  server/src/Modules/Cards/Application/Queries/GetLanguages.cs
  server/src/Modules/Cards/Application/Services/IQueryRepository.cs
  server/src/Modules/Cards/Domain/Cards.Domain.csproj
  server/src/Modules/Cards/Infrastructure/Cards.Infrastructure.csproj
  server/src/Modules/Cards/Infrastructure/DataAccess/CardsContext.cs
  server/src/Modules/Cards/Infrastructure/Repository/QueryRepository.cs
  server/src/Modules/Lessons/Application/Lessons.Application.csproj
  server/src/Modules/Lessons/Domain/Lessons.Domain.csproj
  server/src/Modules/Lessons/Infrastructure/Lessons.Infrastructure.csproj
  server/src/Modules/Users/Application/Users.Application.csproj
  server/src/Modules/Users/Domain/Users.Domain.csproj
  server/src/Modules/Users/Infrastructure/Users.Infrastructure.csproj
  server/tests/Api.Performance.Tests/Api.Performance.Tests.csproj
  server/tests/Cards.Domain.Tests/Cards.Domain.Tests.csproj
  server/tests/Cards.E2e.Tests/Cards.E2e.Tests.csproj
  server/tests/E2e.Model.Tests/E2e.Model.Tests.csproj
  server/tests/E2e.Tests/E2e.Tests.csproj
  server/tests/Users.E2e.Tests/Users.E2e.Tests.csproj
Due: azure-pipelines-server.yml

update client
  client/package-lock.json
  client/package.json
  client/src/common/components/axiosEx/AxiosEx.tsx
  client/src/common/components/dialogs/actionsDialog/ActionsDialog.tsx
  client/src/common/components/dialogs/cardDialog/CardDialog.tsx
  client/src/common/components/dialogs/groupDialog/GroupDialog.tsx
  client/src/pages/groupsSearch/GroupsSearch.tsx
  client/src/pages/lesson/components/repeatsHistory/RepeatsHistory.tsx
  client/tslint.json
  client/yarn.lock
  server/rest/users.rest
  server/src/Api/Program.cs
  server/src/Api/Properties/launchSettings.json
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

fix tslint problems
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/commands/addCard.ts
  client/src/api/responses/getRepeats.ts
  client/src/api/services/cards.ts
  client/src/api/services/dashboard.ts
  client/src/api/services/groups.ts
  client/src/common/components/dialogs/actionsDialog/ActionsDialog.tsx
  client/src/common/components/dialogs/cardDialog/CardDialog.tsx
  client/src/common/components/dialogs/groupDialog/GroupDialog.tsx
  client/src/pages/cardsSearch/components/row/Row.tsx
  client/src/pages/groups/components/groupRow/GroupRow.tsx
  client/src/pages/groupsSearch/GroupsSearch.tsx
  client/src/pages/lesson/components/repeatsHistory/RepeatsHistory.tsx
  client/src/pages/lessonResult/LessonResult.tsx
  client/src/pages/lessonSettings/components/countSelector/CountSelector.tsx
  client/src/store/cards/sagas/addCard.ts
  client/src/store/cards/sagas/getCard.ts
  client/src/store/cards/sagas/getCards.ts
  client/src/store/cards/sagas/spec/updateCard.spec.ts
  client/src/store/cardsSearch/saga/deleteCardEffect.ts
  client/src/store/cardsSearch/saga/spec/updateCardEffect.spec.ts
  client/src/store/dashboard/sagas/getDashboardSummary.ts
  client/src/store/groups/sagas/getGroupsSummary.ts
  client/src/store/groups/sagas/updateGroup.ts
  client/src/store/lesson/reducer.ts
  client/src/store/lesson/sagas/index.ts
  client/src/store/lesson/sagas/updateCard.ts
  client/src/store/store.ts
  client/yarn.lock
Due: azure-pipelines-client.yml

change interface to type
  client/src/api/commands/addGroup.ts
  client/src/api/commands/appendCards.ts
  client/src/api/commands/connectGroups.ts
  client/src/api/commands/login.ts
  client/src/api/commands/register.ts
  client/src/api/commands/registerAnswer.ts
  client/src/api/commands/saveGroup.ts
  client/src/api/commands/startLesson.ts
  client/src/api/commands/tickCardRequest.ts
  client/src/api/commands/updateCard.ts
  client/src/api/commands/updateGroup.ts
  client/src/api/queries/cardsSearch.ts
  client/src/api/queries/forecast.ts
  client/src/api/queries/groupsToLesson.ts
  client/src/api/queries/repeats.ts
  client/src/api/queries/repeatsCount.ts
  client/src/api/queries/searchGroups.ts
  client/src/api/responses/cardsSummary.ts
  client/src/api/responses/dashboardSummary.ts
  client/src/api/responses/groupDetails.ts
  client/src/api/responses/login.ts
  client/src/api/responses/register.ts
  client/src/api/responses/updateCard.ts
Due: azure-pipelines-client.yml

fix e2e tests
  client/src/api/services/repeats.ts
  server/src/Api/appsettings.Test.json
  server/src/Modules/Cards/Infrastructure/Assembly.cs
  server/src/Modules/Cards/Infrastructure/Repository/QueryRepository.cs
  server/tests/Cards.E2e.Tests/CardsTestBase.cs
  server/tests/Cards.E2e.Tests/TestSetup.cs
  server/tests/E2e.Model.Tests/Model/Cards/CardsContext.cs
  server/tests/E2e.Model.Tests/Model/Users/UsersContext.cs
  server/tests/E2e.Model.Tests/README.md
  server/tests/E2e.Tests/E2e.Tests.csproj
  server/tests/E2e.Tests/Infrastructure/Database/PostgresDatabase.cs
  server/tests/E2e.Tests/README.md
  server/tests/E2e.Tests/TestBase.cs
  server/tests/Users.E2e.Tests/Login/LoginSuccessTests.cs
  server/tests/Users.E2e.Tests/TestSetup.cs
  server/tests/Users.E2e.Tests/UsersTestBase.cs
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

fix deps
  client/ci/docker/Dockerfile
  client/package-lock.json
  server/src/Modules/Cards/Application/Cards.Application.csproj
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

fix dockerfile
  client/ci/docker/Dockerfile
Due: azure-pipelines-client.yml

Fix client build (#6)
  client/ci/docker/Dockerfile
  client/package-lock.json
  server/src/Modules/Cards/Application/Cards.Application.csproj
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

add postgres healthcheck
  server/src/Api/Api.csproj
  server/src/Api/Configuration/PostgresHealthcheck.cs
  server/src/Api/Program.cs
  server/src/Blueprints/Infrastructure/Infrastructure.csproj
Due: azure-pipelines-server.yml

fix chrome extension
  google-extention/manifest.json
  server/src/Modules/Users/Application/Commands/LoginChromeExtension.cs
Due: azure-pipelines-server.yml

Add healthchecks (#7)
  google-extention/manifest.json
  server/src/Api/Api.csproj
  server/src/Api/Configuration/PostgresHealthcheck.cs
  server/src/Api/Program.cs
  server/src/Blueprints/Infrastructure/Infrastructure.csproj
  server/src/Modules/Users/Application/Commands/LoginChromeExtension.cs
Due: azure-pipelines-server.yml

fix
  google-extention/background.js
  server/src/Api.Model/Requests/AddCardFromExtension.cs
Due: azure-pipelines-server.yml

fix (#8)
  google-extention/background.js
  server/src/Api.Model/Requests/AddCardFromExtension.cs
Due: azure-pipelines-server.yml

fix add card by extension
  server/src/Api/Controllers/CardsController.cs
  server/src/Modules/Cards/Domain/ValueObjects/GroupName.cs
  server/tests/Cards.E2e.Tests/AddCardFromExtension.cs
  server/tests/Cards.E2e.Tests/DeleteCard/DeleteCardContext.cs
  server/tests/Cards.E2e.Tests/DeleteGroup/DeleteGroupContext.cs
  server/tests/Cards.E2e.Tests/GetCardSummary/GetCardSummaryTests.cs
  server/tests/Cards.E2e.Tests/GetGroupSummaries/GetGroupSummariesTests.cs
  server/tests/Cards.E2e.Tests/Utils/DataBuilder.cs
Due: azure-pipelines-server.yml

scrapper service
  .gitignore
  webscrapping/Dockerfile
  webscrapping/app/cambridge.py
  webscrapping/app/diki.py
  webscrapping/app/main.py
  webscrapping/app/response.py
  webscrapping/requirements.txt
Due: none

Fix extension (#9)
  .gitignore
  server/src/Api/Controllers/CardsController.cs
  server/src/Modules/Cards/Domain/ValueObjects/GroupName.cs
  server/tests/Cards.E2e.Tests/AddCardFromExtension.cs
  server/tests/Cards.E2e.Tests/DeleteCard/DeleteCardContext.cs
  server/tests/Cards.E2e.Tests/DeleteGroup/DeleteGroupContext.cs
  server/tests/Cards.E2e.Tests/GetCardSummary/GetCardSummaryTests.cs
  server/tests/Cards.E2e.Tests/GetGroupSummaries/GetGroupSummariesTests.cs
  server/tests/Cards.E2e.Tests/Utils/DataBuilder.cs
  webscrapping/Dockerfile
  webscrapping/app/cambridge.py
  webscrapping/app/diki.py
  webscrapping/app/main.py
  webscrapping/app/response.py
  webscrapping/requirements.txt
Due: azure-pipelines-server.yml

create dictionary at frontent
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/api/services/cards.ts
  client/src/common/services/scrappers/cambridgeScrapper.ts
  client/src/common/services/scrappers/dikiScrapper.ts
  client/src/pages/groupsSearch/models/groupSummary.ts
  client/src/pages/lesson/LessonPage.tsx
  client/src/pages/lesson/components/gaps/Gaps.tsx
  client/src/pages/lesson/components/gaps/spec/splitToChar.spec.ts
  client/src/pages/test/TestPage.scss
  client/src/pages/test/TestPage.tsx
  client/tsconfig.json
  webscrapping/app/main.py
Due: azure-pipelines-client.yml

fix tests in pipeline
  azure-pipelines-server.yml
  server/ci/docker/Dockerfile
  server/src/Api/appsettings.DockerTest.json
  server/tests/Cards.E2e.Tests/TestSetup.cs
  server/tests/E2e.Tests/Infrastructure/Database/PostgresDatabase.cs
  server/tests/Users.E2e.Tests/Login/LoginSuccessTests.cs
  server/tests/Users.E2e.Tests/Register/RegisterSuccessTests.cs
  server/tests/Users.E2e.Tests/TestSetup.cs
Due: azure-pipelines-server.yml

small checkes, add topBar search component
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/__tests__/components/TobBar.spec.tsx
  client/src/common/components/CustomRouter.tsx
  client/src/common/components/guardedRoute/GuardedRoute.tsx
  client/src/common/components/pagination/Pagination.tsx
  client/src/common/components/pagination/pageChagnedEvent.ts
  client/src/common/components/tabView/TabViewItemHeader.tsx
  client/src/common/components/tabView/TabeView.tsx
  client/src/common/components/topBar/TopBar.scss
  client/src/common/components/topBar/TopBar.tsx
  client/src/pages/login/LoginPage.tsx
  server/ci/docker/Dockerfile.test
  server/ci/docker/docker-compose.admin.yml
  server/ci/docker/docker-compose.dbtest.yml
  server/ci/docker/docker-compose.unittests.yml
  server/database/combine.sql
Due: azure-pipelines-client.yml, azure-pipelines-server.yml

fix searching group
  client/src/common/components/TopBar.tsx
  client/src/index.tsx
Due: azure-pipelines-client.yml

fix pipelien
  client/ci/docker/docker-compose.test.yml
Due: azure-pipelines-client.yml

fix result path
  client/src/index.tsx
Due: azure-pipelines-client.yml
